    <div class="container" style = "background-color : lightgoldenrodyellow " >
       <h1 align="center" class="heading">Champions keep playing until they get it right.</h1>
        <div style="float: left">
            <button  style="margin-top: 12em;" mat-icon-button  (click)="scrollLeft()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon >arrow_back_ios</mat-icon>
            </button>
        </div>
    
        <div #widgetsContent class="middle" style="overflow-x : hidden;">
            <div class="info-widget">
                <img src="https://track2traininginstitute.files.wordpress.com/2020/06/sports.jpg" class="card-img-top" alt="image">
            </div>
            <div class="info-widget">
                <img src="https://www.vmcdn.ca/f/files/halifaxtoday/images/sports/060820-sports-adobestock_4437963.jpeg" class="card-img-top" alt="image">
            </div>
            <div class="info-widget">
                <img src="https://cdn.cdnparenting.com/articles/2018/03/72136312-H.webp" class="card-img-top" alt="image">
            </div>
            <div class="info-widget">
                <img src="https://www.vmcdn.ca/f/files/shared/miscellaneous-stock-images/sports.jpeg;w=1200;h=800;mode=crop" class="card-img-top" alt="image">
            </div>
            <div class="info-widget">
                <img src="https://image.slidesharecdn.com/pe4-volleyball-131207081227-phpapp02/95/volleyball-25-638.jpg?cb=1386405015" class="card-img-top" alt="image">
            </div>
            <div class="info-widget">
                <img src="https://image.shutterstock.com/image-vector/color-sport-background-football-basketball-260nw-1315841180.jpg" class="card-img-top" alt="image">
            </div>
        </div>

        <div style="float: right">
            <button  mat-icon-button style="margin-top: 12em;" (click)="scrollRight()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon >arrow_forward_ios</mat-icon>
            </button>
        </div><br>

        <div style="margin-top : 30em;"  align="center">
            <h3 class="paragraph">Sports are about those incredible moments where sheer human will and desire overcomes the odds. These are the moments we remember.
                And we belive in helping you achieve that!!!!!!</h3>
            <h4>Want to know how?????

                You are just a login away!!!!
                
                Best Products with reasonable price</h4>
                <button (click)="gotoProduct()" class="btn btn-primary">Shop Product..</button>
                    
        </div>
    </div>
