<h1 align="center" class="display-4 mb-5">Add Product</h1>
<div style="width:40%; margin: 25px auto">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name</label><span class="required">*</span>
          <input [(ngModel)]="product.productName" type="text" class="form-control form-control-lg" id="productName"
                #productName="ngModel"
                name="productName" placeholder="Name" required>
          </div>
          <div *ngIf="!productName?.valid && (productName?.dirty || productName?.touched)" class="error">
            <div *ngIf="productName.errors?.required">
              Product Name is required
            </div>
          </div>
        <div class="form-group">
          <label for="category">Category</label><span class="required">*</span>
            <select class="custom-select custom-select-lg " id="category" name="category" #category="ngModel"
                    [(ngModel)]="product.category" style="margin: 10px 10px 10px 10px;"
                    required>
                <option value="Cricket">Cricket</option>
                <option value="Football">FootBall</option>
                <option value="Volleyball">VolleyBall</option>
                <option value="Hockey">Hockey</option>
            </select>
         </div> 
         <div *ngIf="!category?.valid && (category?.dirty || category?.touched)" class="error">
          <div *ngIf="category.errors?.required">
            Category is required
          </div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control form-control-lg text-left" #discription="ngModel"
                      id="description" name="description" maxlength="50" required
                      placeholder="Description" [(ngModel)]="product.description"></textarea>
          </div>
          <div *ngIf="!discription?.valid && (discription?.dirty || discription?.touched)" class="error">
            <div *ngIf="discription.errors?.required">
              Discription is required
            </div>
        </div>
        <div class="form-group">
          <label>Brand</label><span class="required">*</span>
          <input [(ngModel)]="product.brand" type="text" class="form-control form-control-lg" id="brand"
                #brand="ngModel" required
                name="brand" placeholder="Brand" >
        </div>
        <div *ngIf="!brand?.valid && (brand?.dirty || brand?.touched)" class="error">
          <div *ngIf="brand.errors?.required">
            Brand is required
          </div>
        </div>
        <div class="form-group">
          <label for="color">Color</label><span class="required">*</span>
            <select class="custom-select custom-select-lg " id="color" name="color" #color="ngModel"
                    [(ngModel)]="product.color"
                    required  style="margin: 10px 10px 10px 10px;">
                <option value="Red">Red</option>
                <option value="White">white</option>
                <option value="Yellow">Yellow</option>
                <option value="Green">Green</option>
                <option value="Rose">Rose</option>
                <option value="Brown">Brown</option>
                <option value="Gray">Gray</option>
                <option value="Black">Black</option>
                <option value="Other">Other</option>
            </select>
         </div> 
         <div *ngIf="!color?.valid && (color?.dirty || color?.touched)" class="error">
          <div *ngIf="color.errors?.required">
            Color is required
          </div>
        </div>
         <div class="form-group">
          <label for="productSize">Product Size</label><span class="required">*</span>
            <select class="custom-select custom-select-lg " id="productSize" name="productSize" #productSize="ngModel"
                    [(ngModel)]="product.productSize"  style="margin: 10px 10px 10px 10px;"
                    required>
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
                <option value="XXXL">XXXL</option>
            </select>
         </div> 
         <div *ngIf="!productSize?.valid && (productSize?.dirty || productSize?.touched)" class="error">
          <div *ngIf="productSize.errors?.required">
            Product Size is required
          </div>
        </div>
        <div class="form-group">
            <label>Image Link</label><span class="required">*</span>
            <input [(ngModel)]="product.productImage" type="text" class="form-control form-control-lg" #productImage="ngModel" id="productImage"
                   name="productImage" placeholder="Photo">
        </div>

        <div *ngIf="!productImage?.valid && (productImage?.dirty || productImage?.touched)" class="error">
          <div *ngIf="productImage.errors?.required">
            Product Image is required
          </div>
        </div>
        <div class="form-group">
            <label for="mrp">Price</label><span class="required">*</span>
            <input class="form-control form-control-lg"
                   type="text"
                   id="mrp"
                   name="mrp"
                   #mrp="ngModel"
                   maxlength="5"
                   pattern="^[0-9]+$"
                   [(ngModel)]="product.mrp" 
                   required>
        </div>
        
        <div *ngIf="!mrp?.valid && (mrp?.dirty || mrp?.touched)" class="error">
          <div *ngIf="mrp.errors?.required">
            Price is required
          </div>
          <div *ngIf="mrp.errors?.pattern">
            Only numbers are allowed
          </div>
        </div>
        <div class="form-group">
            <label for="inStock">Stock</label><span class="required">*</span> 
            <select class="custom-select custom-select-lg " id="inStock" name="inStock"  #inStock="ngModel"
                    [(ngModel)]="product.inStock"  style="margin: 10px 10px 10px 10px;"
                    required>
            <option [ngValue]="true">InStock</option>
                <option [ngValue]="false">Out Of Stock</option>
                </select>
        </div>
        <div *ngIf="!inStock?.valid && (inStock?.dirty || inStock?.touched)" class="error">
          <div *ngIf="inStock.errors?.required">
            Stock is required
          </div>
        </div>
        <div class="form-group">
          <label for="discount">Discount</label><span class="required">*</span>
          <input [(ngModel)]="product.discount" type="text" class="form-control form-control-lg" id="discount"
                #discount="ngModel" maxlength= "2"  pattern="^[0-9]+$"
                name="discount" placeholder="Discount" required >
      </div>
      <div *ngIf="!discount?.valid && (discount?.dirty || discount?.touched)" class="error">
        <div *ngIf="discount.errors?.required">
          Discount is required
        </div>
        <div *ngIf="discount.errors?.pattern">
          Only numbers are allowed
        </div>
      </div>
        
        <div class="form-group"  style="margin: 10px 10px 10px 10px;">
            <button type="submit" [disabled]="!form.form.valid" class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
    </form>
</div>
