<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Payment List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Payment Id</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of payment | async">
            <td>{{payment.paymentId}}</td>
            <td>{{payment.type}}</td>
            <td><button (click)="paymentDetails(payment.paymentId)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>