<p>create-cart works!</p>
<h3>Create Cart</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Image Name</label><span class="required">*</span>
      <input [(ngModel)]="cart.imageName" type="text" class="form-control form-control-lg" id="imageName"
      #imageName="ngModel" [disabled]="disable"
      name="imageName" placeholder="Image Name" required>
    </div>
    <div *ngIf="!imageName?.valid && (imageName?.dirty || imageName?.touched)" class="error">
      <div *ngIf="imageName.errors?.required">
        Image Name is required
      </div>
    </div>
 
    <div class="form-group">
      <label for="name">Product Name</label><span class="required">*</span>
        <input [(ngModel)]="cart.productName" type="text" class="form-control form-control-lg" id="productName"
                #productName1="ngModel" [disabled]="disable"
                name="productName1" placeholder="Product Name" required>
         </div>
         <div *ngIf="!productName1?.valid && (productName1?.dirty || productName1?.touched)" class="error">
          <div *ngIf="productName1.errors?.required">
            Product Name is required
          </div>
        </div>
 
    <div class="form-group">
      <label for="name">Quantity</label><span class="required">*</span>
      <input [(ngModel)]="cart.quantity" type="text" class="form-control form-control-lg" id="quantity"
      #quantity="ngModel"
      name="quantity" placeholder="Quantity" required>
    </div>
    <div *ngIf="!quantity?.valid && (quantity?.dirty || quantity?.touched)" class="error">
      <div *ngIf="quantity.errors?.required">
        Quantity is required
      </div>
    </div>
 
    <div class="form-group">
      <label for="name">Price</label><span class="required">*</span>
      <input [(ngModel)]="cart.price" type="text" class="form-control form-control-lg" id="price"
      #price="ngModel" [disabled]="disable"
      name="price" placeholder="Price" required>
    </div>
    <div *ngIf="!price?.valid && (price?.dirty || price?.touched)" class="error">
      <div *ngIf="price.errors?.required">
        Price is required
      </div>
    </div>
  
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>Success!</h4>
</div>